[package]
name = "pallet-utility"
version = "38.0.0"
edition = "2021"
license = "Apache-2.0"
description = "FRAME utilities pallet"
readme = "README.md"

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { workspace = true }
scale-info = { features = ["derive"], workspace = true }
frame-benchmarking = { workspace = true,  default-features = false, optional = true }
frame-support = { workspace = true,  default-features = false }
frame-system = { workspace = true,  default-features = false }
sp-core = { workspace = true,  default-features = false }
sp-io = { workspace = true,  default-features = false}
sp-runtime = { workspace = true, default-features = false}
subtensor-macros = { workspace = true }

[dev-dependencies]
pallet-balances = { default-features = true, workspace = true }
pallet-collective = { default-features = false, path = "../collective" }
pallet-timestamp = { default-features = true, workspace = true }
sp-core = { default-features = true, workspace = true }
pallet-root-testing = { workspace = true, default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"frame-benchmarking?/std",
	"frame-support/std",
	"frame-system/std",
	"scale-info/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"sp-runtime/try-runtime",
]
