[package]
name = "pallet-subtensor"
version = "4.0.0-dev"
description = "FRAME pallet for runtime logic of Subtensor Blockchain."
authors = ["Bittensor Nucleus Team"]
homepage = "https://bittensor.com"
edition.workspace = true
license = "Unlicense"
publish = false
repository = "https://github.com/opentensor/subtensor"

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
subtensor-macros.workspace = true
codec = { workspace = true, features = ["derive"] }
sp-core.workspace = true
pallet-balances.workspace = true
scale-info = { workspace = true, features = ["derive"] }
frame-benchmarking = { workspace = true, optional = true }
frame-support.workspace = true
frame-system.workspace = true
sp-io.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sp-runtime.workspace = true
sp-std.workspace = true
libsecp256k1.workspace = true
log.workspace = true
substrate-fixed.workspace = true
pallet-transaction-payment.workspace = true
pallet-subtensor-utility.workspace = true
ndarray.workspace = true
hex.workspace = true
share-pool.workspace = true
safe-math.workspace = true
approx.workspace = true
subtensor-swap-interface.workspace = true
runtime-common.workspace = true
subtensor-runtime-common = { workspace = true, features = ["approx"] }
sp-keyring.workspace = true

pallet-drand.workspace = true
pallet-commitments.workspace = true
hex-literal.workspace = true
num-traits = { workspace = true, features = ["libm"] }
tle.workspace = true
ark-serialize = { workspace = true, features = ["derive"] }
w3f-bls.workspace = true
sha2.workspace = true
rand_chacha.workspace = true
pallet-crowdloan.workspace = true
pallet-subtensor-proxy.workspace = true
pallet-shield.workspace = true

[dev-dependencies]
pallet-balances = { workspace = true, features = ["std"] }
pallet-scheduler.workspace = true
pallet-subtensor-proxy.workspace = true
pallet-aura.workspace = true
pallet-timestamp.workspace = true
sp-consensus-aura.workspace = true
subtensor-runtime-common.workspace = true
pallet-subtensor-swap.workspace = true
sp-version.workspace = true
# Substrate
sp-tracing.workspace = true
rand.workspace = true
sp-core.workspace = true
sp-std.workspace = true
pallet-preimage.workspace = true
tracing.workspace = true
tracing-log.workspace = true
tracing-subscriber = { workspace = true, features = ["fmt", "env-filter"] }

[features]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"runtime-common/try-runtime",
	"sp-runtime/try-runtime",
	"pallet-commitments/try-runtime",
	"pallet-crowdloan/try-runtime",
	"pallet-drand/try-runtime",
	"pallet-subtensor-proxy/try-runtime",
	"pallet-subtensor-utility/try-runtime"
]
default = ["std"]
std = [
	"substrate-fixed/std",
	"tle/std",
	"w3f-bls/std",
	"frame-benchmarking?/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-balances/std",
	"pallet-preimage/std",
	"pallet-scheduler/std",
	"pallet-transaction-payment/std",
	"runtime-common/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-tracing/std",
	"sp-version/std",
	"sp-keyring/std",
	"subtensor-runtime-common/std",
	"pallet-commitments/std",
	"pallet-crowdloan/std",
	"pallet-drand/std",
	"pallet-subtensor-proxy/std",
	"pallet-subtensor-swap/std",
	"pallet-shield/std",
	"subtensor-swap-interface/std",
	"pallet-subtensor-utility/std",
	"safe-math/std",
	"share-pool/std",
	"ark-serialize/std",
	"hex/std",
	"libsecp256k1/std",
	"log/std",
	"ndarray/std",
	"num-traits/std",
	"codec/std",
	"rand_chacha/std",
	"scale-info/std",
	"serde/std",
	"serde_json/std",
	"sha2/std"
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-preimage/runtime-benchmarks",
	"pallet-scheduler/runtime-benchmarks",
	"pallet-transaction-payment/runtime-benchmarks",
	"runtime-common/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"pallet-commitments/runtime-benchmarks",
	"pallet-crowdloan/runtime-benchmarks",
	"pallet-drand/runtime-benchmarks",
	"pallet-subtensor-proxy/runtime-benchmarks",
	"pallet-subtensor-swap/runtime-benchmarks",
	"pallet-subtensor-utility/runtime-benchmarks",
	"pallet-shield/runtime-benchmarks"
]
pow-faucet = []
fast-runtime = ["subtensor-runtime-common/fast-runtime"]
