name: Build Docker Image

on:
  pull_request:

jobs:
  build:
    runs-on: [self-hosted, type-ccx33, in-hel1]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        run: docker build .
