name: Label Triggers
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened

permissions:
  issues: write
  pull-requests: write

jobs:
  comment_on_breaking_change:
    runs-on: [self-hosted, type-ccx13]
    steps:
      - name: Check if 'breaking change' label is added
        if: github.event.label.name == 'breaking-change'
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '@opentensor/cerebrum / @opentensor/gyrus / @opentensor/cortex breaking change detected! Please prepare accordingly!'
            })