name: PR Build and Merge

on:
  pull_request:
    branches:
      - devnet-ready-with-nodes

jobs:
  build-and-merge:
    permissions:
      pull-requests: write
    runs-on: SubtensorCI
#    if: github.event.pull_request.merged
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Install dependencies
        run: |
          sudo apt-get update &&
          sudo apt-get install -y clang curl libssl-dev llvm libudev-dev protobuf-compiler jq

      - name: Install Rust stable
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          components: rustfmt
          profile: minimal

      - name: Add wasm32-unknown-unknown target
        run: |
          rustup target add wasm32-unknown-unknown --toolchain stable-x86_64-unknown-linux-gnu
          rustup component add rust-src --toolchain stable-x86_64-unknown-linux-gnu

      - name: Run localnet.sh False --build-only
        run: |
          chmod +x scripts/localnet.sh
          ./scripts/localnet.sh False --build-only

      - name: Run localnet.sh --build-only
        run: |
          chmod +x scripts/localnet.sh
          ./scripts/localnet.sh --build-only

#      - name: Create a files
#        working-directory: ${{ github.workspace }}
#        run: |
#          mkdir -p ${{ github.workspace }}/nodes/fast-blocks/release
#          mkdir -p ${{ github.workspace }}/nodes/non-fast-blocks/release
#          echo "fast-blocks" > ${{ github.workspace }}/nodes/fast-blocks/release/node-subtensor
#          echo "non-fast-blocks" > ${{ github.workspace }}/nodes/non-fast-blocks/release/node-subtensor

      - name: Upload fast-blocks
        uses: actions/upload-artifact@v4
        with:
          name: fast-blocks
          path: ${{ github.workspace }}/nodes/fast-blocks/release/node-subtensor

      - name: Upload non-fast-blocks
        uses: actions/upload-artifact@v4
        with:
          name: non-fast-blocks
          path: ${{ github.workspace }}/nodes/non-fast-blocks/release/node-subtensor